<%= form_for(@micropost) do |f| %>
  <%= render 'devise/shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_area :contact, placeholder: "Compose new micropost..." %>
  </div>
  <%= f.submit "Post", class: "btn btn-lg btn-primary" %>
<% end %>